{{- if .Values.fluentd.enabled -}}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "observation-service.fullname" . }}-fluentd
  labels:
    {{- include "observation-service.labels" . | nindent 4 }}
{{ if .Values.fluentd.extraLabels -}}
{{ toYaml .Values.fluentd.extraLabels | indent 4 -}}
{{- end }}
spec:
  {{- if not .Values.fluentd.autoscaling.enabled }}
  replicas: {{ .Values.fluentd.replicaCount }}
  {{- end }}
  minReadySeconds: 5
  selector:
    matchLabels:
      app: {{ .Release.Name }}-fluentd
      release: {{ .Release.Name }}
  serviceName: {{ .Release.Name }}-fluentd
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-fluentd
        release: {{ .Release.Name }}
        {{- include "observation-service.labels" . | nindent 8 }}
        {{- if .Values.global.extraPodLabels }}
          {{- toYaml .Values.global.extraPodLabels | nindent 8 }}
        {{- end }}
    spec:
      containers:
        - name: logger
          image: "{{ .Values.fluentd.image.registry }}/{{ .Values.fluentd.image.repository }}:{{ .Values.fluentd.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.fluentd.image.pullPolicy }}
          env:
            {{- with .Values.fluentd.extraEnvs }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          ports:
            - containerPort: {{ .Values.fluentd.service.internalPort }}
            - containerPort: {{ .Values.fluentd.service.externalPort }}
          resources:
            {{- toYaml .Values.fluentd.resources | nindent 12 }}
          volumeMounts:
          {{- if .Values.fluentd.gcpServiceAccount.enabled }}
          - mountPath: /etc/gcp_service_account
            name: gcp-service-account
            readOnly: true
          {{- end }}
          {{- if .Values.fluentd.pvcConfig }}
          - mountPath: {{ .Values.fluentd.pvcConfig.mountPath }}
            name: {{ .Values.fluentd.pvcConfig.name }}
          {{- end }}
      volumes:
      {{- if .Values.fluentd.gcpServiceAccount.enabled }}
      - name: gcp-service-account
        secret:
          secretName: {{ .Release.Name }}-fluentd-secret
      {{- end }}
  {{- if .Values.fluentd.pvcConfig }}
  volumeClaimTemplates:
  - metadata:
      name: {{ .Values.fluentd.pvcConfig.name }}
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: {{ .Values.fluentd.pvcConfig.storage }}
  {{ end -}}
{{- end -}}
