# See https://github.com/helm/chart-testing#configuration
remote: origin
target-branch: main
chart-dirs:
  - charts
chart-repos:
  - caraml=https://caraml-dev.github.io/helm-charts/
  - stable=https://charts.helm.sh/stable
  - istio=https://istio-release.storage.googleapis.com/charts
  - jetstack=https://charts.jetstack.io
excluded-charts:
  - common
  - hashicorp=https://helm.releases.hashicorp.com
  - bitnami=https://charts.bitnami.com/bitnami
helm-extra-args: --timeout 900s
