---
apiVersion: v2
name: generic-dep-installer
description: |
  This helm chart is used to control the order of installation of helm chart dependencies through the use of pre-install hooks and hook weights.
  It creates a K8s Job that performs that applies a rendered helm chart to a cluster, while exposing the `.Values.hook.weight` to users to configure which dependency should be installed first.
  Container image used by job requires helm and kubectl binary to be present, and thus should be set accordingly based on the version of K8s being used.
  See https://helm.sh/docs/topics/version_skew/ for more info on which helm version to use.
type: application
version: 0.0.1
appVersion: "v0.0.1"
maintainers:
  - name: caraml-dev
    email: caraml-dev@caraml.dev
